$blue-color: #1890ff;
$white-color: #ffffff;
$green-color: #52c41a;
$grey-color: #ebeff3;
$grey-color4: #e8e8e8;
$grey-color5: #d9d9d9;
$grey-color6: #bfbfbf;
$grey-color7: #8c8c8c;
$grey-color8: #595959;
$black-color: black;
$red-color: red;
$text-color-gray: #eeeeee;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-weight-400: 400;
$font-weight-500: 500;

//@use "@app/styles/variables.scss" as *;
